<script>
  window.addEventListener('load', function(){ 
      window.dataLayer = window.dataLayer || []; 
      {% if customer.id == null %} 
          window.dataLayer.push({
              "event": "page_view",
              "visitorType": "Guest", 
              "visitorId": "{{ customer.id | remove: "'" }}", 
              "customerId": "{{ customer.id | remove: "'" }}", 
              "customerEmail": "{{ customer.email }}", 
              "customerFirstName": "{{ customer.first_name }}", 
              "customerPhone": "{{ customer.default_address.phone }}", 
              "customerLastName": "{{ customer.last_name }}", 
              "customerCity": "{{ checkout.shipping_address.city }}", 
              "customerZip": "{{ checkout.shipping_address.zip }}", 
              "customerAddress1": "{{ checkout.shipping_address.address1 }}", 
              "customerAddress2": "{{ checkout.shipping_address.address2 }}", 
              "customerCountryCode": "{{ checkout.shipping_address.country_code }}", 
              "customerProvince": "{{ checkout.shipping_address.province }}", 
              "customerOrdersCount": "{{ customer.orders_count }}", 
              "customerTotalSpent": "{{ customer.total_spent | divided_by: 100 }}", 
          });
      {% else %}  
          window.dataLayer.push({
              "event": "page_view",
              "visitorType": "Logged In", 
              "visitorId": "{{ customer.id | remove: "'" }}", 
              "customerId": "{{ customer.id | remove: "'" }}", 
              "customerEmail": "{{ customer.email }}", 
              "customerFirstName": "{{ customer.first_name }}", 
              "customerPhone": "{{ customer.default_address.phone }}", 
              "customerLastName": "{{ customer.last_name }}", 
              "customerCity": "{{ customer.default_address.city }}", 
              "customerZip": "{{ customer.default_address.zip }}", 
              "customerAddress1": "{{ customer.default_address.address1 }}", 
              "customerAddress2": "{{ customer.default_address.address2 }}", 
              "customerCountryCode": "{{ customer.default_address.country_code }}", 
              "customerProvince": "{{ customer.default_address.province }}", 
              "customerOrdersCount": "{{ customer.orders_count }}", 
              "customerTotalSpent": "{{ customer.total_spent | divided_by: 100 }}", 
          }); 
      {% endif %} 
  }, false);
  </script>
  
  <script>
    try {
      window.addEventListener('load', function(){ 
      window.dataLayer = window.dataLayer || []; 
  
      // prepare order or checkout data, depending on object availability
      try {
        var order_id = "{{ order.order_number }}";
        var currency = "{{ order.currency }}";
        var checkout_order_id = "{{ checkout.order_id }}";
        var checkout_currency = "{{ checkout.currency }}";
      }
      catch(err) {
        console.log("[error] - order and checkout objects unavailable", err)
      }
  
      // prepare discount data
      try {
        var is_discounted = true;
        var coupon_code = "{{ checkout.discounts[0].code }}";
        var discount_amount = {{ checkout.discounts_amount | money_without_currency | remove: ',' }}
      }
      catch (err) {
        var coupon_code = null;
        var discount_amount = 0;
        console.log("[warn] - no discounts in use.", err)
      }
  
      // prepare item data
      var line_items = [];
      if (order_id === "") {
        {% for item in checkout.line_items %}
          line_items.push({
            "name": "{{ item.title }}",
            "id": "{{ item.sku }}",
            "productId": "{{ item.product.id }}",
            "variantId": "{{ item.variant_id }}",
            "shopifyId": "{{ item.product.id }}" + "_" + "{{ item.variant_id }}",
            "price": parseFloat("{{ item.price | times: 0.01 }}"),
            "brand": "{{ item.vendor }}",
            "category": "{{ item.product.product_type }}",
            "variant": "{{ item.variant.title }}",
            "quantity": {{ item.quantity }}
          });
        {% endfor %}
      } else {
        {% for item in order.line_items %}
          line_items.push({
            "name": "{{ item.title }}",
            "id": "{{ item.sku }}",
            "productId": "{{ item.product.id }}",
            "variantId": "{{ item.variant_id }}",
            "shopifyId": "{{ item.product.id }}" + "_" + "{{ item.variant_id }}",
            "price": parseFloat("{{ item.price | times: 0.01 }}"),
            "brand": "{{ item.vendor }}",
            "category": "{{ item.product.product_type }}",
            "variant": "{{ item.variant.title }}",
            "quantity": {{ item.quantity }}
          });
        {% endfor %}
      }
  
      // prepare variables based on order object availability
      if (order_id == "") {
        var order_id_final = checkout_order_id
        var currency_final = checkout_currency
      } else {
        var order_id_final = order_id
        var currency_final = currency
      }
  
      console.log("successfully processed order data", order_id_final, currency_final, line_items);
      
      {% if first_time_accessed %}
      window.dataLayer.push({ 
          "pageType": "purchase", 
          "event": "gtmEvent",
          "eventCategory": 'enhanced ecommerce',
          "eventAction": 'transaction',
          "eventLabel": order_id_final,
          "ecommerce": { 
              "currencyCode": currency_final, 
              "purchase": { 
                  "actionField": { 
                      "id": order_id_final, 
                      "revenue": {{checkout.subtotal_price | plus: tax_price | plus: shipping_price | times: 0.01}}, 
                      "tax": {{tax_price | times: 0.01}}, 
                      "shipping": {{shipping_price | times: 0.01}}, 
                      "affiliation": "{{ shop.name }}", 
                      "discountAmount": discount_amount,
                      "coupon": coupon_code
                  }, 
                  "products": 
                    line_items
              } 
          } 
      });
      {% endif %}
  }, false);
    }
    catch(err) {
      console.log("[error] - couldn't prepare data for dataLayer", err)
    }
  </script> 
  